* {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f5f1;
  margin: 0;
}

.btn1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.largedetails {
  display: flex;
  flex-direction: column;
}

.itemdetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.name {
  margin-left: 10%;
}

.review {
  margin-left: 5%;
}

.listofreview {
  margin-left: 5%;
  margin-right: 5%;
}

.commentBox {
  margin-left: 3%;
}

.colorNews {
  background-color: #0077b5;
}

.space {
  width: 10px;
}
/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
.articlediv {
  position: relative;
  width: 3000px !important;
  transition: transform 0.6s;
}

.spin {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.moreLinks {
  text-align: center;
}

.subscribebtn {
  margin-top: 0px !important;
}

.footergap {
  margin-top: 5%;
}

.productimg {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: filter 600ms ease, -webkit-filter 600ms ease;
  transition: -webkit-filter 600ms ease;
  transition: filter 600ms ease;
  transition: filter 600ms ease, -webkit-filter 600ms ease;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -moz-transition: filter 600ms ease, -webkit-filter 600ms ease;
  -ms-transition: filter 600ms ease, -webkit-filter 600ms ease;
  -o-transition: filter 600ms ease, -webkit-filter 600ms ease;
}

.productimg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.subscribetxt {
  font-size: 15px !important;
}

.reviewlist {
  width: 100%;
}

.availability-toggle {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
}

.btncart:disabled {
  cursor: not-allowed;
}

.btncart:disabled:hover {
}
.radiusgreen {
  border-color: #0077b5;
  margin: 40px !important;
  margin-left: 0px !important;
}
.txtarea {
  width: 1000px !important;
  height: 70px;
  margin-right: 20px;
}

.btcolor {
  background-color: #0077b5;
}
.bttext {
  color: #0077b5;
}
.notavailable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* BOTH of the following are required for text-overflow */
h1.itemName {
  width: 200px;
  height: 25px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
p.itemDesc {
  width: 200px;
  height: 90px;
  padding: 2px 5px;
  /* white-space: nowrap; */
  overflow: hidden;
}

.overflow-visible {
  white-space: initial;
}

.overflow-clip {
  text-overflow: clip;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.overflow-string {
  text-overflow: " [..]";
}
