* {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
.cart {
  .image {
    padding-right: 30px;
  }

  .quantity-box {
    font-size: 0.9vw;
    border-radius: 5px;
    width: 3.2vw;
    padding: 0.2vw;
  }

  .item-in-column {
    display: flex;
    margin: 10px;
    padding: 10px;
  }

  hr {
    display: block;
    width: 100%;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }

  .information-in-row {
    display: flex;
    orientation: row;
    width: 100%;
    margin-left: 5vw;
  }

  .parent {
    display: flex;
    justify-content: center;
  }

  .stick_bottom {
    align-self: flex-end;
  }

  .item-cell-width {
    width: 100%;
  }

  .subtotal {
    color: black;
    font-size: 1.2vw;
    text-transform: uppercase;
  }

  .total {
    color: black;
    font-size: 1.2vw;
    text-transform: uppercase;
    margin-top: 50px;
  }

  .general-margin {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .fa-times:before {
    content: "\f00d";
  }

  .fa {
    display: inline-block;
    font-family: FontAwesome;
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .button-right {
    align-self: flex-start;
  }

  .parent-horizontal {
    display: flex;
    justify-content: flex-end;
  }

  .remove-width {
    width: 3%;
  }

  .subtotal-width {
    width: 20%;
  }

  // .quantity-width {
  //   width: 10%;
  // }

  .name-price-width {
    width: 100%;
  }

  .photo-width {
    width: 15%;
  }

  .image-wrapper {
    width: 20%;
    height: 170px;
    padding: 10px;
  }

  .item-image {
    object-fit: cover;
    border-radius: 5px;
    border: 0.5px solid;
    border-color: black;
  }

  .item-name {
    font-size: 1.4vw;
  }

  .price {
    font-size: 1.2vw;
  }

  .title-text {
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
  }

  .pr {
    padding-right: 5px;
  }

  .fs1 {
    font-size: 0.9vw;
  }

  .ib1 {
    display: inline-block;
  }

  .mt1 {
    margin-top: 20px;
  }

  .mt2 {
    margin-top: 10px;
  }
  .mtop1 {
    margin-top: 12px;
  }
}
