<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="ui.scss">
    <title>Document</title>
</head>

<body>

    <div>




        <div class='sky_net'>

            <div class="container">
                <div class="face">
                    <div class="face__ears">
                        <div class="face__ears__left ear"></div>
                        <div class="face__ears__right ear"></div>
                    </div>
                    <div class="face__body">
                        <div class="face__eyes">
                            <div class="face__eyes--left eye"></div>
                            <div class="face__eyes--right eye"></div>
                        </div>
                        <div class="face__nose">

                            <div class="face__nose--inner">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow"></div>

                    <div class='talkative'>
                        <p>All your base are belong to us</p>
                    </div>
                </div>

                <div class='commands'>
                    <p>How can I help you ?</p>
                    <ul>
                        <li>Initialize</li>
                        <li>Scan Comments</pli>
                        <li>What is the meaning of life</li>
                        <li>Destroy all Evil</li>
                    </ul>
                </div>

            </div>



</body>

</html>