body {
    background-color: #F8F5F1;
    margin: 0;
}

.overlay {
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.popup {
    z-index: 100;
    top: 200px;

    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    display: flex;

}


.login-btn {
    margin: 0 auto;
    width: 100px;
    margin-top: 15%;


}

.login-field {
    width: 100%;
    height: 10%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 150%;

}

/* ::placeholder {
    font-size: 200%;
} */


.login-form-div {
    background-color: #F8F5F1;
    padding: 50px;
    border-radius: 5px;

}

input[type=submit] {
    margin-top: 20px;
}

.maindiv {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/main.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/main.jpg);
    /* background-image: url(/main.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;


}




.btn {

    background-color: #2585B8;
    border-color: black;
    border-radius: 3px;
    padding: 6px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 20px;

}

/* .btn:hover {
    background-color: rgb(107, 192, 238);
    border-color: #2585B8;
} */

.mainform {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 0px;


}



.sub {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 10%;
    margin-right: 2px;


}

.forgot-password {
    text-align: right;
}






.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.btndiv {
    display: flex;
    flex-direction: column;
    margin-top: 10%
}

.centered {
    text-align: center;
    justify-content: center;

}

.popup-img img {
    height: 70vh;
}

.loginicon {
    background-image: url(/loginicon-white.png);
    background-repeat: no-repeat;
    background-position: 70% 40%;
    background-size: 25px;


}

.signbtn {
    background-image: url(/signupbtn.png);
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 25px;
}

.forgetlink {
    color: #2585B8;
}