@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

// change back to -30px for demo for video
* {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
.homecontent::before {
  background-image: url("background3.jpg");
  background-color: #cccccc;
  background-size: 1400px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 125%;
  margin-left: 30px;
  z-index: -2;
  margin-top: 850px;
  opacity: 0.2;
}
.logo {
  height: 275px;
  width: 520px;
  position: absolute;
  top: 200px;
  left: 650px;
  z-index: 2;
}
.homecontent {
  body {
    background: green;
  }
  /* videostyle */
  .videocontainer {
    margin-bottom: 100px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 1px;
    margin-top: -30px;
    // change back to -30px for demon
  }

  /* scocial medias */

  .socialmedias {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 40px;
    margin-left: -280px;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
  }

  /* style for text blockof3 */

  // #blockof3 {
  //   margin-top: 40px;
  //   margin-right: 20px;
  //   // margin-left: 40px;
  //   margin-bottom: 100px;
  //   text-align: center;
  //   font-size: 22px;
  //   display: flex;
  //   justify-content: space-around;

  // }

  #blockof3 {
    margin-top: 125px;
    margin-bottom: 150px;
    margin-right: 40px;
    margin-left: 10px;
    text-align: center;
    padding-left: 50px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
  }
  #blockof4 {
    margin-top: 125px;
    margin-bottom: 150px;
    margin-right: 40px;
    margin-left: -20px;
    text-align: center;
    padding-left: 50px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
  }

  .redish {
    color: #0077b5;
  }

  .hello {
    border-right-style: groove;
    border-right-width: 3px;
    max-height: 90px;
    padding-right: 75px;
  }
  /* style for services + 4 images */

  .services {
    margin-left: 50px;
    margin-right: 50px;
    // border: 1px solid white;
  }

  .box1::before {
    background-image: url("background2.jpg");
    background-color: #cccccc;
    background-size: 1500px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    width: 95%;
    height: 120%;
    z-index: -2;
    margin-top: 1800px;
    opacity: 0.1;
  }
  .box1 {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    padding-bottom: 175px;
  }

  //    <div className="socialmedias">
  //    <i className="facebooks" className="fab fa-facebook-square"></i>
  //    <i className="twitters" className="fab fa-twitter-square"></i>
  //    <i className="instagrams" className="fab fa-instagram"></i>
  // </div>

  .socialmedias {
    i.fa-facebook-square {
      font-size: 5em;
      transition: 1s;
      padding-left: 20%;

      color: #3b5a98;
    }
    i.fa-twitter-square {
      font-size: 5em;
      transition: 1s;
      padding-left: 20%;

      color: #1ea1f2;
    }
    i.fa-instagram {
      font-size: 5em;
      transition: 1s;
      padding-left: 20%;

      color: #ea0b57;
    }

    i:hover {
      font-size: 6em;
    }
  }
  //  #facebooks
  //    #3B5A98

  // #instagrams
  // #EA0B57
  // #twitters
  // #1EA1F2

  .box1 p {
    padding-top: 10px;
    font-size: 1.2em;
  }

  #box2 {
    align-content: center;
    p {
      font-size: 20px;
    }
  }
  .servicesHeader {
    font-size: 2em;
    color: white;
    background-color: #0077b5;
    margin-left: 45%;
    margin-right: 40%;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    margin-top: 75px;
    padding-top: 5px;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .servicesHeader p {
    transition: 1000ms;
    border-bottom: 1px solid transparent;
  }
  .servicesHeader p:hover {
    border-color: white;
  }
  .spaceforfooter {
    padding: 25px;
  }
}

.services {
  i {
    color: #0077b5;
    font-size: 5.5em;
    transition: 1s;
    padding-left: 33%;
  }

  i:hover {
    font-size: 6em;
  }
}
